<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main2.css">
    <title>Document</title>
</head>
<body>
    <h1> Onion Pie Recipe</h1>
    {% for ingredient in recipe: %}
        <h4>{{ ingredient }}</h4>
    {%endfor%}

    <form method="POST" action="/recipes">
        <input type="text" name="ingredient" >
        <input type="submit">
    </form>
</body>
</html>